/* s-clock.css by Soulcyc        */
/* Released to the public domain */

#s {z-index: 9997; opacity: 0.06;
background: #000 url("http://goo.gl/lt17de") 0/100% 100%;}
#cb, .c, #hb, #h, #mb, #m {top: 50%; left: 50%; z-index: 9999;
position:fixed;width: 200px; height: 200px; transform: translate(-50%, -50%);}
.c, #h, #m {background: #000; border: 1px solid #11f; box-shadow: 0 0 10px #009; border-radius: 10px;}
#hb {animation: clock-hr 720s linear infinite reverse;}
#h {top: 75px; width: 1px; height: 50px;}
#mb {animation: clock-min 60s linear infinite reverse;}
#m {top: 62px; width: 1px; height: 75px;}
.c {width: 5px; height: 5px;}
#c1  {top: 15.4%; left: 70%;  }
#c2  {top: 30%;   left: 84.6%;}
#c3  {top: 50%;   left: 90%;  }
#c4  {top: 70%;   left: 84.6%;}
#c5  {top: 84.6%; left: 70%;  }
#c6  {top: 90%;   left: 50%;  }
#c7  {top: 84.6%; left: 30%;  }
#c8  {top: 70%;   left: 15.4%;}
#c9  {top: 50%;   left: 10%;  }
#c10 {top: 30%;   left: 15.4%;}
#c11 {top: 15.4%; left: 30%;  }
#c12 {top: 10%;   left: 50%;  }
#c13 {top: 50%;   left: 50%;  }
@keyframes clock-min {
0%   {transform: translate(-50%, -50%) rotate(  0deg);}
50%  {transform: translate(-50%, -50%) rotate(180deg);}
100% {transform: translate(-50%, -50%) rotate(360deg);}}
@keyframes clock-hr {
0%   {transform: translate(-50%, -50%) rotate( 60deg);}
50%  {transform: translate(-50%, -50%) rotate(240deg);}
100% {transform: translate(-50%, -50%) rotate(420deg);}}
